.zero {
    background-color: pink;
}

.js-one {
    background-color: orange;
}

.js-two {
    background-color: blue;
}

.js-three {
    background-color: green;
}

.js-four {
    background-color: red;
}

.js-five {
    background-color: purple;
}